<div class="container-fluid bg-white">
  <footer class="crsu-footer">
    <div class="row crsu-footer-row justify-content-center">
      <div class="col-12 col-lg-3 footer-col">
        <a href="https://www.gla.ac.uk/">
          {{ $uofgLogo := default "images/footer/uofg.gif" .Site.Params.uofgLogo }}
          <img src="{{ $uofgLogo | relURL }}" alt = "University of Glasgow Logo" class="footer-logo">
        </a>
      </div>
      <div class="col-12 col-lg-3 footer-col">
        <a href="https://www.gla.ac.uk/">
          {{ $uoflLogo := default "images/footer/uofl.gif" .Site.Params.uoflLogo }}
          <img src="{{ $uoflLogo | relURL }}" alt = "University of Leicester Logo" class="footer-logo">
        </a>
      </div>
      <div class="col-12 col-lg-3 footer-col">
        <a href="https://www.gla.ac.uk/">
          {{ $uofyLogo := default "images/footer/uofy.jpeg" .Site.Params.uofyLogo }}
          <img src="{{ $uofyLogo | relURL }}" alt = "University of York Logo" class="footer-logo">
        </a>
      </div>
      <div class="col-12 col-lg-3 footer-col">
        <a href="https://www.gla.ac.uk/">
          {{ $cochraneLogo := default "images/footer/cochrane.gif" .Site.Params.cochraneLogo }}
          <img src="{{ $cochraneLogo | relURL }}" alt = "Cochrane Logo" class="footer-logo">
        </a>
      </div>
    </div>
  </footer>
</div>
